#container {
    width: 90%;
    box-sizing: border-box;
    min-height: 100%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}