a {
    text-decoration: none;
    color: black;

    i {
        color: $color-primary;
    }
}

p {
    white-space: auto;
}

h1,
h2,
h3 {
    text-align: center;
    width: 100%;
}

h1 {
    position: relative;
    z-index: 0;
}