button {
    display: block;
    background-color: $color-primiry;
    color:white;
    padding: 10px 25px;
    margin: 4% auto;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}