#formulaire {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;

    &.comment {
        flex-direction: row;

        label {
            width: 20%;
        }

        input {
            width: 50%;
        }

        button {
            width: 15%;
        }
    }

    label {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    input,
    textarea {
        width: 70%;
        margin: 2%;
    }

    #body {
        height: 200px;
    }
}